.link {
  text-align: center;
  border-radius: 32px;
  padding: 19px 32px;
  min-width: 219px;
  height: 56px;
  box-shadow:
    0 1px 3px 1px rgba(93, 70, 63, 0.15),
    0 1px 2px 0 rgba(93, 70, 63, 0.3);
  background: var(--primary-green-300);
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: var(--secondary-brown-950);

  transition:
    background 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;

  &:hover {
    transition:
      background 0s ease-in-out,
      box-shadow 0s ease-in-out;
    box-shadow:
      0 2px 6px 2px rgba(93, 70, 63, 0.15),
      0 1px 2px 0 rgba(93, 70, 63, 0.3);
    background: var(--primary-green-400);
  }

  &:focus {
    transition:
      background 0s ease-in-out,
      box-shadow 0s ease-in-out;
    border: 1px solid var(--primary-green-500);
    box-shadow:
      0 1px 3px 1px rgba(93, 70, 63, 0.15),
      0 1px 2px 0 rgba(93, 70, 63, 0.3);
    background: var(--primary-green-400);
    outline: none;
  }
}
