:root {

    --white: #fff;
    --light-grey: #e3e3e4;
    --grey: #97939a;
    --primary-green-50: #f9fbea;
    --primary-green-100: #f1f6d1;
    --primary-green-200: #e3eea8;
    --primary-green-300: #cee175;
    --primary-green-400: #b7d04b;
    --primary-green-500: #99b62c;
    --primary-green-600: #78911f;
    --primary-green-700: #5b6f1c;
    --primary-green-800: #49581c;
    --primary-green-900: #3e4b1c;
    --primary-green-950: #20290a;
    --secondary-brown-50: #faf7f6;
    --secondary-brown-100: #f4edeb;
    --secondary-brown-200: #ece0dc;
    --secondary-brown-300: #dec9c3;
    --secondary-brown-400: #c9a9a0;
    --secondary-brown-500: #b48b7f;
    --secondary-brown-600: #9d7165;
    --secondary-brown-700: #835d52;
    --secondary-brown-800: #6e4f46;
    --secondary-brown-900: #5d463f;
    --secondary-brown-950: #31221e;


    --font-family: "SF Pro Display",
        sans-serif;
    --second-family: "Jost",
        sans-serif;
    --third-family: "Nunito",
        sans-serif;
    --font3: "Source Sans 3",
        sans-serif;
    --font4: "Inter",
        sans-serif;
    --font5: "Roboto",
        sans-serif;
    --font6: "Open Sans",
        sans-serif;
}