.rsm-svg {
    /* position: relative; */
}

.rsm-geographies {
    /* position: absolute;
    left: 0; */
    /* width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center; */
}