.list {

  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  min-width: 682px;
  /* max-width: 682px;
  width: 100%; */
}

.link {
  list-style: none;
  cursor: pointer;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--secondary-brown-950);
}

.navigation {
  display: flex;
  align-items: center;
}