:root {
  --orinoco-50: #f9fbea;
  --orinoco-100: #f1f6d1;
  --orinoco-200: #e3eea8;
  --orinoco-300: #cee175;
  --orinoco-400: #b7d04b;
  --orinoco-500: #99b62c;
  --orinoco-600: #78911f;
  --orinoco-700: #5b6f1c;
  --orinoco-800: #49581c;
  --orinoco-900: #3e4b1c;
  --orinoco-950: #20290a;
  --fantasy-50: #faf7f6;
  --fantasy-100: #f4edeb;
  --fantasy-200: #ece0dc;
  --fantasy-300: #dec9c3;
  --fantasy-400: #c9a9a0;
  --fantasy-500: #b48b7f;
  --fantasy-600: #9d7165;
  --fantasy-700: #835d52;
  --fantasy-800: #6e4f46;
  --fantasy-900: #5d463f;
  --fantasy-950: #31221e;

  --font-family: "SF Pro Display", sans-serif;
  --second-family: "Jost", sans-serif;
  --third-family: "Nunito", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Open Sans", sans-serif;
}